.add-to-cart {
    color: white;
    transition: color 200ms ease-in, background-color 200ms ease-in;
    font-size: .7rem;
    width: 6.5rem;
}

.add-to-cart:hover {
    color: yellow;
    background-color: lightcoral;
}

.add-to-cart:disabled {
    color: #bbbaba;
    background-color: lightcoral;
}