mat-icon{
    position: absolute;
    right: 3px;
    top: 3px;
    color: #5b5656;
    transition: transform 200ms ease-in-out, font-size 250ms ease-in-out, color 200ms ease-in-out;
}

mat-icon:hover{
    cursor: pointer;
    color: #d62828;
    font-size: 1.6rem;
    transform: matrix(1, .5, -.5, 1, 0, 0);
}