<h2 id="courses-title">Courses</h2>

<div id="course-section">
  <div class="course-card" *ngFor="let course of courseState.filteredCourses">
    <div class="meta">
      <div
        class="photo"
        [style.background-image]="
          'url(' + courseState.getThumbnail(course) + ')'
        "
      ></div>
      <ul class="details">
        <li class="author">
          <a href="#">{{
            courseState.getCourseAuthor(course?.authorId)?.name
          }}</a>
        </li>
        <li class="date">Course begins: {{ course.name }}</li>
      </ul>
    </div>
    <div class="description">
      <h1 class="title">{{ course.name }}</h1>
      <h2 class="duration">
        Duration: {{ courseState.getDuration(course) }} days
      </h2>
      <p>
        {{ course.description | summary }}
      </p>
      <p class="read-more">
        <button [routerLink]="['/course-signup/', course.id]">
          Learn more
        </button>
      </p>
    </div>
  </div>
</div>
