/* Navbar */
.nav-container {
  position: fixed;
  width: 100%;
  z-index: 99;
}
mat-toolbar {
  /* background-color: var(--primary-dark) !important; */
  height: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}
.nav {
  display: flex;
  width: 100%;
  align-items: center;
}

/* Logo */
.logo {
  height: auto;
  width: 15%;
  flex-grow: 1;
}
.logo button {
  background-color: var(--primary-dark);
  color: #fff;
}

.logo img {
  width: 2rem;
  height: 2rem;
  filter: saturate(3) brightness(95%);
}

/* links */
.links {
  display: none;
  margin: 0 1rem;
}
.links > a {
  margin: 1rem;
}
.links button, .signup-btn {
  position: relative;
  /* background-color: var(--primary-dark); */
  transition: color 250ms ease-in;
}
.links span, .signup-btn span {
  display: inline-block;
  position: absolute;
  background-color: var(--secondary-dark);
  height: 1.5px;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 250ms ease-in, background-color 250ms ease-in;
}
.links button:hover span, .signup-btn:hover span {
  transform: scale(1);
  background-color: var(--secondary-light);
}
.links button:hover .signup-btn:hover{
  color: var(--secondary-light);
}
.active-link {
  color: var(--secondary-dark);
}
.active-link span {
  transform: scale(1);
}

/* Search bar */
.search-wrapper {
  position: relative;
  width: 25%;
  max-width: 200px;
}
.search-field {
  width: 100%;
  position: relative;
  font-size: 0.8rem;
  top: 9px;
}
.dropdown {
  position: absolute;
  right: -18px;
  bottom: 12px;
}

.close-icon mat-icon{
  font-size: .9rem;
}

/* effect other children */

/* /* ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.2em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -0.5em;
} */
.search-label {
  display: inline-flex;
}
/* ::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
} */

/* signup button */
.signup-btn {
margin-left: .4rem;
}
.signup-btn button{
  padding: .1rem;
  font-size: .7rem;
}
/* Login button */
.active-login {
  display: none;
}

.login button {
  margin: 0 .5rem;
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  transition: color 250ms ease-in, background-color 250ms ease-in;
  width: .5rem;
  font-size: .7rem;
}

.login button:hover {
  color: white;
  background-color: #c28b39;
}

/* Menu Icon */
.menu {
  transition: color 250ms ease-in;
}

.menu:hover {
  color: #d7d2d2 !important;
}

/* Cart Icon */
.cart {
  color: #fff;
  margin: 0 0.5rem;
  transition: color 250ms ease-in;
}

.cart:hover {
  color: #d7d2d2 !important;
}

/* Drawer */
.drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark);
  width: 8rem;
  overflow: hidden;
  right: 0;
  top: 3.5rem;
  transform-origin: right;
  transform: translateX(8rem);
  transition: transform 250ms ease-in;
}
.drawer button {
  width: 100%;
  color: #fff;
  background-color: var(--primary-dark);
}
.drawer button:hover {
  background-color: var(--primary-light);
  color: var(--secondary-light);
  transition: color 250ms ease-in, background-color 250ms ease-in;
}
.active-drawer {
  color: var(--secondary-dark) !important;
}
.expand {
  transform: translateX(0);
  transition: transform 250ms ease-in;
}

@media screen and (min-width: 825px) {
  .logo{
    margin-left: 4rem;
  }
  .links {
    display: inline-block;
  }
  .menu {
    display: none;
  }
  .signup-btn button{
    font-size: .8rem;
    width: initial;
  }
  .login button{
    margin: 0 1rem;
    font-size: .8rem;
    width: initial;
  }
  .cart {
    margin-right: 5rem;
  }
  .drawer {
    display: none;
  }
}