<div class="nav-container">
  <mat-toolbar color="primary">
    <div class="nav">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/">
          <button mat-flat-button color="primary">
            <img src="assets/images/android-chrome-192x192.png" alt="icon" />
          </button>
        </a>
      </div>
      <!-- Links -->
      <div class="links">
        <a [routerLink]="link.link" *ngFor="let link of links">
          <button
            mat-flat-button
            color="primary"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ link.name }}
            <span></span>
          </button>
        </a>
        <a>
          <button mat-flat-button color="primary" (click)="openSignUp()">
            Sign Up
            <span></span>
          </button>
        </a>
      </div>
      <!-- Login Button -->
      <div>
        <a routerLink="/login" routerLinkActive="active-login" class="login">
          <button mat-raised-button color="accent">Login</button>
        </a>
        <!-- Menu Icon -->
        <button
          mat-icon-button
          class="menu"
          (click)="toggleDrawer(drawer, $event)"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <!-- Cart Icon-->
        <a routerLink="/checkout">
          <button mat-icon-button class="cart">
            <mat-icon
              [matBadge]="state.counter"
              [matBadgeHidden]="state.toggleCounter"
              matBadgeColor="warn"
              >shopping_cart</mat-icon
            >
          </button>
        </a>
      </div>
    </div>
  </mat-toolbar>
  <!-- Drawer -->
  <div #drawer class="drawer">
    <a [routerLink]="link.link" *ngFor="let link of links">
      <button
        mat-flat-button
        routerLinkActive="active-drawer"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ link.name }}
      </button>
    </a>
  </div>
</div>
<!-- Compensate for fixed navbar-->
<div style="height: 60px"></div>
