<div class="nav-container">
  <mat-toolbar color="primary">
    <div class="nav">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/">
          <button mat-flat-button color="primary">
            <img src="assets/images/android-chrome-192x192.png" alt="icon" />
          </button>
        </a>
      </div>
      <!-- Links -->
      <div class="links">
        <a [routerLink]="link.link" *ngFor="let link of links">
          <button
            mat-flat-button
            color="primary"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ link.name }}
            <span></span>
          </button>
        </a>
        <a *ngIf="!user.isLogin">
          <button mat-flat-button color="primary" (click)="openSignUp()">
            Sign Up
            <span></span>
          </button>
        </a>
      </div>

      <!-- Search bar -->
      <div class="search-wrapper">
        <mat-form-field
          class="search-field"
          appearance="fill"
          floatLabel="never"
        >
          <mat-label class="search-label"
            ><mat-icon class="search-icon">search</mat-icon> Search</mat-label
          >
          <input
            matInput
            type="text"
            [(ngModel)]="searchValue"
            #input
            (keyup)="this.courseState.filterQuery(input, selectedFilter)"
          />
          <button
            *ngIf="searchValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="
              searchValue = ''; courseState.filterQuery('', selectedFilter)
            "
            class="close-icon"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!--Dropdown Icon-->
        <button
          mat-icon-button
          class="dropdown"
          [mat-menu-trigger-for]="selectFilter"
          (click)="dropdownIcon = 'arrow_drop_down'"
        >
          <mat-icon>{{ dropdownIcon }}</mat-icon>
        </button>
        <mat-menu
          #selectFilter="matMenu"
          (closed)="dropdownIcon = 'arrow_right'"
        >
          <button
            mat-menu-item
            (click)="
              selectedFilter = 'course';
              courseState.filterQuery(input, 'course')
            "
          >
            Filter by courses
          </button>
          <button
            mat-menu-item
            (click)="
              selectedFilter = 'author';
              courseState.filterQuery(input, 'author')
            "
          >
            Filter by authors
          </button>
        </mat-menu>
      </div>

      <!-- Login Button -->
      <div>
        <a
          routerLink="/login"
          routerLinkActive="active-login"
          class="login"
          *ngIf="!user.isLogin"
        >
          <button mat-raised-button color="accent">Login</button>
        </a>
        <a class="login" *ngIf="user.isLogin">
          <button mat-raised-button color="accent" (click)="logoutHandler()">
            Logout
          </button>
        </a>
        <!-- Menu Icon -->
        <button
          mat-icon-button
          class="menu"
          (click)="toggleDrawer(drawer, $event)"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <!-- Cart Icon-->
        <a routerLink="/checkout">
          <button mat-icon-button class="cart">
            <mat-icon
              [matBadge]="state.counter"
              [matBadgeHidden]="state.toggleCounter"
              matBadgeColor="warn"
              >shopping_cart</mat-icon
            >
          </button>
        </a>
      </div>
    </div>
  </mat-toolbar>
  <!-- Drawer -->
  <div #drawer class="drawer">
    <a [routerLink]="link.link" *ngFor="let link of links">
      <button
        mat-flat-button
        routerLinkActive="active-drawer"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ link.name }}
      </button>
    </a>
    <a *ngIf="!user.isLogin">
      <button mat-flat-button (click)="openSignUp()">Sign Up</button>
    </a>
  </div>
</div>
<!-- Compensate for fixed navbar-->
<div style="height: 60px"></div>
