<div class="cart-list-container" *ngIf="cartState.cart.length > 0">
  <div class="card-container">
    <mat-card *ngFor="let course of cartState.cart">
      <div class="top-card">
        <div
          class="photo"
          [style.background-image]="
            'url(' + courseState.getThumbnail(course) + ')'
          "
        ></div>
        <app-remove [courseId]="course.id"></app-remove>
      </div>
      <div class="bottom-card">
        <h4>{{ course.name }}</h4>
        <p>{{ course.cost | currency }}</p>
      </div>
    </mat-card>
  </div>
  <div class="total-price">
    <p>Total Price: {{ totalPrice() | currency }}</p>
    <button mat-raised-button>Check Out</button>
  </div>
  <!-- Compensate for position fix bottom-->
  <div style="height: 50px; margin: 1.5rem"></div>
</div>
<div *ngIf="cartState.cart.length == 0" class="empty">
  <h1>Cart is currently empty <span></span></h1>
</div>
