.course-details-section {
  margin: 0 auto;
}

.hero-bar {
  text-align: center;
  padding: 3rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 9, 121, 1) 35%,
    rgba(86, 92, 195, 1) 100%
  );
  color: var(--background);
  height: 40%;
}

.course-about,
.course-instructor,
.course-faq {
  margin: 1rem 2rem;
  padding: 1em 1.5em;
}

mat-expansion-panel {
  margin: 0 2rem;
  margin-bottom: 1em;
}
