.course-details-section {
  margin: 0 auto;
}

.hero-bar {
  text-align: center;
  padding: 3rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 9, 121, 1) 35%,
    rgba(86, 92, 195, 1) 100%
  );
  height: 40%;
}

.course-about .course-instructor .course-syllabus {
  margin: 1rem 0.5rem;
}
