<div id="course-details-section" *ngIf="getCourse()">
  <div class="hero-bar">
    <h2>{{ getCourse().name }}</h2>
    <h4>By: {{ getCourse()?.author }}</h4>
    <app-add-to-cart-btn></app-add-to-cart-btn>
  </div>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">info</mat-icon>&nbsp; About
      </ng-template>
      <mat-card class="course-about mat-elevation-z4">
        <mat-card-title> About this Course </mat-card-title>
        <div class="photo">
          <img
            src="{{ courseState.getHqThumbnail(getCourse()) }}"
            alt="course thumbnail"
          />
        </div>
        <p>
          {{ getCourse().description }}
        </p>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person_outline</mat-icon>&nbsp;
        Instructor
      </ng-template>
      <mat-card class="course-instructor mat-elevation-z4">
        <mat-card-title>Get to know your instructor</mat-card-title>
        <div class="author-card">
          <div class="author-pic">
            <div>
              <img
                class="author-image"
                src="{{ courseState.getAuthor(getCourse()?.authorId).photo }}"
                alt="profile pic"
              />
            </div>
          </div>
          <div class="author-info">
            <h2>
              <a [routerLink]="['/author/', getCourse()?.authorId]">{{
                courseState.getAuthor(getCourse()?.authorId).name
              }}</a>
            </h2>
            <h4>
              {{ courseState.getAuthor(getCourse()?.authorId)?.title }}
            </h4>
          </div>
        </div>
        <mat-card class="author-specializations">
          <h3>Specializations</h3>
          <mat-chip-list aria-label="Spec chips">
            <mat-chip
              *ngFor="
                let specs of courseState
                  .getAuthor(getCourse()?.authorId)
                  ?.specialization.split(',')
              "
              color="accent"
              selected
              >{{ specs }}</mat-chip
            >
          </mat-chip-list>
        </mat-card>
        <div class="student-number">
          <mat-icon>people</mat-icon>&nbsp;
          <p><b>10</b> Students</p>
        </div>
        <div class="course-number">
          <mat-icon>library_books</mat-icon>&nbsp;
          <p><b>1</b> Course</p>
        </div>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">school</mat-icon>&nbsp; Syllabus
      </ng-template>
      <mat-card class="course-syllabus mat-elevation-z4">
        <mat-card-title>What you will be learning</mat-card-title>
        <div
          class="course-content"
          *ngFor="let cont of getCourse().content; let i = index"
        >
          <div class="circle">
            <h3 class="day-num">{{ i + 1 }}</h3>
          </div>
          <h4 class="course-content-text">{{ cont }}</h4>
        </div>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">question_answer</mat-icon>&nbsp; FAQ
      </ng-template>

      <mat-accordion class="course-faq">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              When will I have access to the course lectures and assignments?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Once you enroll, you’ll have access to all videos and assignments.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Do I need to pay for this course?
            </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <div *ngIf="getCourse().price == 0; else yesPay">
            <p>
              No. This is a free course, you can add this course to your cart
              and checkout for free by clicking on the Enroll button above.
            </p>
          </div>
          <ng-template #yesPay>
            <p>
              Yes. This is a paid course, you can add this course to your cart
              by clicking on the Enroll button above.
            </p>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Can I earn a certificate in this course?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes. Certificates, credentials, and/or reports are awarded in
            connection with this course.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> How do I select a course? </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Visit the course catalog to browse our offerings. In addition to
            searching by course names, you can also search by subject to ensure
            you find a course that reflects your interests. Though it is not
            required, we encourage those who have not studied the subject before
            to consider taking a related basics course first to get a solid
            grounding in the discipline before exploring more specific
            disciplines.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Can I take more than one course at a time?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            If you are new to online learning, we recommend that you begin with
            one course. As our courses are offered frequently throughout the
            year, you can always come back and continue your studies with one or
            more topics.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              I am a high school student, can I join?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Courses are open to all students 18 years or older. If you are under
            18 years old, please contact us at thisisnotanemail@email.com to
            discuss further.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
