<div id="course-details-section" *ngIf="course">
  <div class="hero-bar">
    <h2>{{ course.name }}</h2>
    <h5>By: {{ course.author }}</h5>
    <app-add-to-cart-btn></app-add-to-cart-btn>
  </div>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">info</mat-icon>
        About
      </ng-template>
      <div class="course-about mat-elevation-z4">
        <h4>About this Course</h4>
        <p>
          {{ course.description }}
        </p>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person_outline</mat-icon>
        Instructor
      </ng-template>

      <div class="course-instructor mat-elevation-z4">
        <a href="#"></a>
        <p>subject department</p>
        <div class="student-number">
          <mat-icon>people</mat-icon>
          <p><b>1000</b> Students</p>
        </div>
        <div class="course-number">
          <mat-icon></mat-icon>
          <p><b>1000000</b> Courses</p>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">school</mat-icon>
        Syllabus
      </ng-template>

      <div class="course-syllabus mat-elevation-z4">
        <h5>What you will learn from this course</h5>
        <div class="quiz">
          <div class="quiz-number">1</div>
          <div class="quiz-description">
            <p>Iterate quizes here</p>
          </div>
        </div>
      </div>
      <div class="course-faq"></div>
    </mat-tab>
  </mat-tab-group>
</div>
